










All Rights Reserved FSC
## ®
International 2019   FSC
## ®
## F000100
































## Transaction Verification
## Procedure

## FSC-PRO-10-201 V1-0 - EN



## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 2 of 10 –



## Title:

## Transaction Verification Procedure
Document reference code: FSC-PRO-10-201 V1-0 EN

Approval body:


FSC Director General
Contact for comments:

FSC International Center
-Performance and Standards Unit-
## Adenauerallee 134
## 53113 Bonn, Germany




## +49-(0)228-36766-0
## +49-(0)228-36766-30
psu@fsc.org
© 2019 Forest Stewardship Council, A.C. All rights reserved.

No part of this work covered by the publisher’s copyright may be reproduced or copied in any
form or by any means (graphic, electronic or mechanical, including photocopying, recording,
recording  taping,  or  information  retrieval  systems)  without  the  written  permission  of  the
publisher.

Printed copies of this document are for reference only. Please refer to the electronic copy on
the FSC website (ic.fsc.org) to ensure you are referring to the latest version.




## TRANSACTION VERIFICATION PROCEDURE

## FSC-PRO-10-201 V1-0






## The Forest Stewardship Council
## ®
(FSC) is an independent, not for profit, non-government
organization established to support environmentally appropriate, socially beneficial, and
economically viable management of the world's forests.

FSC’s vision is that the world’s forests meet the social, ecological, and economic rights and
needs of the present generation without compromising those of future generations.




## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 3 of 10 –
## Contents

## A Objective
## B Scope
C Effective and validity date
## D References
E Terms and definitions
## F Version History


## 1 General Principles
## 2 Transaction Verification Process
3 Confidentiality and data protection
4 Recording and storing information



## Annex 1 Transaction Verification Overview Work Flow




## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 4 of 10 –

## A    Objective
The objective of this document is to provide a transparent procedure for transaction
verification. Transaction verification is one of the certification activities carried out by
accredited certification bodies and Assurance Services International to safeguard the
integrity of the FSC system and address integrity risks in relevant supply chains.

NOTE: This is an operating procedure for transaction verification and as such not part of
FSC’s accreditation or certification requirements. It is therefore not subject to the rules
and regulations outlined in FSC-PRO-01-001, the procedure for the development and
revision of FSC normative documents.

## B    Scope
This document details the procedure to be followed by FSC, ASI, certificate holders
and certification bodies for defining, applying (or processing) transaction verification
and recording information.

C    Effective and validity dates
Approval date    22 July 2019
Publication date   22 July 2019
Effective date    22 July 2019
Period of validity  Until replaced or withdrawn

## D    References
The  following  referenced  documents  are  relevant  for  the  application  of  this
document. For undated references, the latest edition of the referenced document
(including any amendments) applies.

FSC-STD-20-001 General requirements for accredited certification bodies
FSC-STD-40-004 Chain of Custody Certification
FSC-STD-20-011 Chain of Custody Evaluation
ASI-PRO-20-107 ASI’s Incident Handling Procedure
ASI Data protection FAQs for Transaction Verification (TV)

E    Terms and definitions
For the purposes of this procedure, the terms and definitions given in FSC-STD-40-
004 Chain of Custody, FSC-STD-01-002 Glossary of Terms, and the following apply:

ASI’s Transaction Verification (TV) Tool:  an online transaction analysis tool managed
by ASI. Transaction data uploaded to the system is automatically matched with other
transactions  of  the specified  period  in  the  current  transaction  verification  to  identify
imbalances in declared volume inputs and outputs.

Falcon: Falcon is an Excel formatting tool which can be used by certificate holders or
certification bodies to ensure that transaction verification data is properly formatted. It is
locally hosted so does not involve the upload of data into the cloud or outside company
firewalls.  The transaction data can be entered manually or through a spreadsheet and
then Falcon checks to ensure the data is in the proper format, then can be exported in
an Excel spreadsheet.



## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 5 of 10 –
False claim:  an FSC claim made on a sales document for products that are not eligible
to be sold as FSC certified or FSC Controlled Wood. A false claim is different from an
inaccurate claim, in which a product that is eligible to be sold as FSC certified is sold with
the wrong claim.

Fraud:  the  offence  of  intentionally  labelling  and/or  making  FSC  claims  on  sales
documents of products that are not eligible to be sold as FSC certified or FSC Controlled
## Wood.

Fraud gap analysis: a method to identify weaknesses in system controls that are being
exploited to commit fraud. The analysis recommends proactive steps to close loopholes
in the standard system in order to mitigate fraud risk.

Fraud Risk: a vulnerability an organization faces from individuals capable of committing
fraud. The capability is based on a combination of factors including motive, opportunity
and ability.

Non-conforming product: product or material for which an organization is unable to
demonstrate  that  it  conforms  to  the  applicable  FSC  certification  requirements  and
eligibility requirements for making FSC claims.

Sample: a ‘sample’ is defined as all transactions in a specified period of time. The sample
can include all trading partners or be specific to a product type, product group, species,
region, and/or group of customers or suppliers. FSC may pre-determine the type of
sample to be taken in a given investigation, which may include instructions on sample
size (all or parts of transactions), sampling method (e.g. random, systematic), and if the
transactions should be provided in a list of individual transactions or aggregated across
the specified period.

Specific Supply Chain: a full or partial supply chain that is identified as high risk on the
basis of identified risk of false claims. Indicators of risk include: complaints, wood ID
testing results, certification bodies’ reporting of false claims, media reports, the criticality
of the issue being publicized, ASI incident reports, and/or ASI monitoring.

Supply Chain Steering Group: approves TV loops for a supply chain based upon
evidence of risk and is comprised of the FSC Supply Chain Integrity Director, FSC
Technology  and  Information  Unit  Director,  FSC  European  Regional  Director,  FSC
Director of Policy Operations, and Chief Operations Officer.

Trading partners: suppliers and customers of the organization for products purchased
or sold with FSC claims.

Transaction verification: a method to allow the certification bodies and/or Assurance
Services International (ASI) to verify that the certificate holder’s recorded FSC input and
output transactions match with the records of their trading partners.

Transaction  Verification  (TV)  Loop:  a  TV  loop  refers  to  the  process  of  TV  data
collection, analysis, and compliance conducted using the ASI Transaction Verification
Tool for a specific supply chain.

Wood Identification Testing: a suite of wood identification technologies used to identify
the family, genus, species and origin of solid wood and fibre based products.

Verbal  forms  for  the  expression  of  provisions  [Adapted  from  ISO/IEC
Directives Part 2: Rules for the structure and drafting of International Standards]


## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 6 of 10 –
  “shall”: indicates requirements strictly to be followed in order to conform to
the document.
  “should”: indicates that among several possibilities one is recommended
as particularly suitable, without mentioning or excluding others, or that a
certain course of action is preferred but not necessarily required.
  “may”: indicates a course of action permissible within the limits of the
document.
  “can”: is used for statements of possibility and capability, whether material,
physical or causal.

## F    Version History
V 1-0: initial version approved by the FSC Director General in July 2019 to clarify
how transaction verification is implemented.





## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 7 of 10 –
## 1    General Principles
1.1   The selection of a specific supply chain for Transaction Verification (TV)
loops  by  the  FSC  Supply  Chain  Steering  Group  for  the  purpose  of
transaction verification is based on the following criteria which determine the
risk of false claims (list not exhaustive):
a. Complaints submitted to the FSC, certification bodies (CBs) and/or ASI;
b. Wood Identification testing results;
c. False claims identified during annual audits;
d. Certification bodies’ reporting of fraud to the FSC database;
e. ASI or certification bodies’ evaluation reports;
f. Publicly available information on fraud risks and incidents of fraud;
g. Analysis of the FSC database; and/or
h. ASI or FSC incident reports and incident trend data.
1.2   The scope of a TV loop is defined by any of the following specifications:
identified  integrity  risks,  location,  product  type,  product  group,  species,
primary activity, and/or secondary activity. Other specifications are possible.
1.3   A TV loop may include all or part of a specific supply chain from the forest
to the retailer and may sample all certificate holders (CHs) in scope or take
a sample of those CHs.

## 2    Transaction Verification Process
2.1   The FSC Supply Chain Steering Group shall approve TV loops for a supply
chain based upon evidence of risk as specified in Clause 1.1.
2.2   A TV loop shall be launched at least 30 days prior to the start of the data
collection process for CHs.
2.3   FSC shall announce the TV publicly to CHs when the TV loop has been
launched.
2.4   ASI  shall  notify  applicable  CBs  via  ASI’s  TV  Tool  of  the  decision  to
implement a TV loop by opening a Transaction Verification Request (TVR)
and setting up Certificate in Scope (CS) Records.
2.5   The CS Record shall include the list of CHs included in the TV loop that are
certified by the CB. The CB receives notification of the TVR and CS Records
and accesses those records in the ASI TV Tool.
2.6   CBs shall prepare for data collection within 30 days from the date of the TV
loop launch. CBs may request support from ASI and FSC during this period.
2.7   CBs shall not start data collection during the TV Preparation Phase, which
is the time period where ASI and CBs prepare for the specific data collection
requirements from CHs.
2.8   Once the TV Preparation Phase is over, CBs shall notify the CHs and collect
samples of transaction data via an Excel spreadsheet template provided by
ASI, which is uploaded to the ASI TV Tool by the CB.
2.9   CBs  shall complete  data  collection from  CHs  within  30  days  (CH  Data
## Collection Phase).
2.10  CHs can use the FSC Falcon tool to ensure the formatting of the TV data is
correct.


## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 8 of 10 –
2.11  The CH shall provide aggregated transactions over the time period indicated
in the TVR for each trading partner. ASI may stipulate that volumes shall be
aggregated according to other variables as well, including product type and
species; so that the CH may report more than one aggregated transaction
per trading partner, if there is more than one product or species being traded
with that partner.
2.12  The CH shall provide the following transaction data for each transaction:
a)  inputs: name of supplier, FSC certificate and license code, aggregate
volume  over  the  period,  unit  of  measurement,  product  type,  FSC
claim, and species; AND
b)  outputs:  name  of  customer,  FSC  certificate  and  license  code,
aggregate volume over the period, unit of measurement, product type,
FSC claim and species.
2.13  After the CH Data Collection Phase is complete, CBs shall upload the data
collected from CHs to the ASI’s TV Tool within 30 days (CB Data Upload
## Phase).
2.14  ASI shall issue Corrective Action Requests (CARs) to CBs who do not follow
up appropriately with their CHs, e.g. by failing to request and collect data
from CHs, failing to issue NCs to CHs when they do not comply with a data
request, or by failing to upload the CH data to the ASI’s TV Tool by the
deadline at the end of the CB Data Collection Phase.
2.15  ASI shall analyze mismatches and follow up with CBs after the CB Data
Collection Phase is complete. The Data Analysis Phase is approximately 3
months but may be shorter or longer depending on the size of the TV loop
(i.e. the number of CHs in the loop). Data analysis may include (but is not
limited to) reviewing mismatches, mapping supply chains, and checking on
declarations where the CHs report no purchases or sales.
2.16  ASI shall follow up with the CBs via ASI’s TV Tool on mismatches identified
through data analysis in a timely manner.
2.17  ASI may request supporting documents (e.g. invoices) to confirm reported
transactions. In this case, ASI shall contact the CBs via ASI’s TV Tool.
2.18  CBs shall inform the CHs, collect the required documents and upload them
to the ASI’s TV Tool.
2.19  CBs shall issue Corrective Action Requests (CARs) to CHs who do not
provide  the requested data  within each specified phase of the  TV loop
against clause 1.7 in FSC-STD-40-004 V3-0.
2.20  ASI shall review evidence submitted by CBs and determine if the mismatch
is resolved. If the mismatch is demonstrated, ASI shall open an incident
handling process and ask the CB to investigate and report back to ASI (per
ASI-PRO-20-107 ASI’s Incident Handling Procedure).
2.21  Once the Data Analysis Phase is complete and all identified integrity risks
are reported as incidents, ASI shall provide FSC with the conclusions of the
TV loop, as specified in Box 1.






## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 9 of 10 –








2.22  ASI shall inform CBs about the outcomes of the TV analysis.
2.23  FSC will communicate the general conclusions from the TV loop to CHs.

3    Confidentiality and data protection
3.1   FSC, ASI and CBs are each responsible to have processes in place for
ensuring that personal data and confidential business data collected and
taken off-site are processed and protected in compliance with applicable
mandatory laws.
## 1

3.2   When non-conformities are identified through Transaction Verification and
subsequent ASI investigations, FSC is informed of these non-conformities,
including the evidence to support them, so that the appropriate measures
can be taken to protect the FSC scheme and FSC’s reputation.

4    Recording and storing information
4.1   ASI and CBs each are responsible to have processes in place for recording
and determining retention periods of transaction data collected from CHs
and  this  may  vary  depending  on  the  complexity  of  the  integrity  risk(s)
identified and the subsequent investigations required.
NOTE: ASI and CBs have complaint mechanisms in place to receive and
process any complaints regarding transaction verification.
4.2   The CH’s transaction data are stored in the ASI’s TV Tool with restricted
access defined by ASI’s data protection and privacy policies.



## 1
The FSC-STD-20-001 V4-0 General Requirements for FSC accredited certification bodies
specifies the accreditation requirements for confidentiality in Section 1.8.

Box 1. Fraud gap analysis





## FSC-PRO-10-201 V1-0 EN
## TRANSACTION VERIFICATION PROCEDURE
## 2019
– 10 of 10 –
## Annex 1 - Transaction Verification Overview Work Flow

